.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  
  

  min-height: 80rem;
}

.header {
  background-color: white;
  border-bottom: 2px solid var(--color-grey-light-2);
  height: 7rem;
}

.content {
  display: flex;
  height: 80rem;
}

.sidebar { 
 background-color: var(--color-grey-dark-1);
 flex: 0 0 18%; 
}

.hotel-view {
  background-color: white;
  flex: 0 0 82%;
}

// ---Notes---
// max-width will use the value set, if the screen size is smaller than that it will use all space available.
