.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);
  

  min-height: 80rem;
}

.header {
  font-size: 1.4rem;
  background-color: white;
  border-bottom: 2px solid var(--color-grey-light-2);
  height: 7rem;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;  
}

.sidebar { 
 background-color: var(--color-grey-dark-1);
 flex: 0 0 18%;
 height: 75rem;
}

.hotel-view {
  background-color: grey;
  flex: 0 0 82%;
}

// ---Notes---
// max-width will use the value set, if the screen size is smaller than that it will use all space available.
