////////////////////////
// LOGO
.logo {
  height: 3.25rem;
  margin-left: 1rem;
}


////////////////////////
// SEARCH BOX
.search {
  display: flex;
  align-items: center;
  flex: 0 0 40%;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    padding: .7rem 2rem;
    border-radius: 2rem;
    width: 90%;
    transition: all .3s;
    margin-right: -3rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-3);      
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__button{
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}


////////////////////////
// USER NAVIGATION
.user-nav {
  align-self: stretch;
  
  display: flex;
  align-items: center;  

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;    
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
    
  }

  &__notification {
    font-size: .8rem;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }

  &__user-name {
    
  }
}

// ---SUPER NOTES SECTION---
// LOGO
//    height: setting height auto sets width and vice versa
//    margin-right: breathing room

// SEARCH
//    display: set to flex to align the button in the center along the cross axis
//    flex: 0 0 40%. So no grow, not able to shrink, takes 40% of available space
// SEARCH__INPUT
//    font-family: font family is not inherited on inputs, so it must be set explicitly
//    font-size: font size is not inherited on inputs, so it must be set explicitly
//    color: color is not inherited on inputs, so it must be set explicitly
//    background-color: set to desired color for input
//    border: set to none to remove normal input box border
//    padding: set to give the inside of the input some breathing room
//    border-radius: set to round the edges a bit to make the input look nicer
//    width: set to 90% to take up 9/10 of what it can, so it can grow later when focused
//    transition: set to .3s to allow a smooth transition when focused
//    margin-right: set to -3 to push the input over so the button ends up on top
// SEARCH__INPUT:FOCUS
//    outline: set to none to remove default blue border when focused
//    width: set to 100% so box grows when focused
//    background-color: set to darker coler for enhanced ux
// SEARCH__BUTTON
//    border: set to none to remove border
//    background-color: set to transparent so only the icon shows
// SEARCH__BUTTON:FOCUS
//    outline: set to none to remove default blue border when clicked
// SEARCH__BUTTON:ACTIVE
//    transform: set to translate 2px on the y axis to make it look like button is being pushed to user
// SEARCH__ICON
//    height: set to 2rem or 20px
//    width: set to 2rem or 20px

// USER-NAV
//    align-self: sets the user nav element to stretch inside its own parent flexbox
//    display: set to flex to position children
//    align-items:
// USER-NAV > * (selects all DIRECT children of USER-NAV so icon-box and user)
//    padding: breathing space
//    cursor: hand pointer
//    height: makes them take up the entire space they can
//    display: makes the children inside of these flex children
//    align-items: set to center so they center on the cross axis
// USER-NAV > *:hover (selects all DIRECT children of USER-NAV when hovered)
//    background-color: slightly darker when hovered
// USER-NAV__ICON-BOX
//    position: set to relative to allow notification bubble to be positioned absolutely
// USER-NAV__ICON
//  height: set
//  width: set
//  fill: paints the interior of the given icon
// USER-NAV__NOTIFICATION
//    font-size: set
//    height: set
//    width: set
//    border-radius: set to give make bubbles round
//    backgound-color: set to primary
//    color: text color white
//    position: set to absolute so they can be moved exactly into position
//    top: 1.5rem down from the top
//    right: 1rem from the right side
//    display: set to flex to align the text inside each bubble
//    justify-content: centers numbers on main axis
//    align-items: centers numbers on cross axis
// USER-NAV__USER-PHOTO
//    height: width is auto set when you set height
//    border-radius: set to make image perfectly round
//    margin-right: gives space between user photo and text
// USER-NAV__USER-NAME


////////////////////////
// HEADER END
////////////////////////







////////////////////////
// SIDEBAR BEGIN
////////////////////////

.side-nav {
  padding-left: 1rem;

  &__item {
    list-style: none;
  }

  &__link, {
    display: flex;
    align-items: center;

    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: white;
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary));
      background-size: 200%;
      transition: all .4s;
    }  

    &:hover,
    &:active {
      background-position: 100%;
    }
  }

  &__icon {
    height: 3.5rem;
    width: 3.5rem;
    fill: white;
    order: -1;
    padding-right: 1rem;
  }  
}


.legal {
  font-size: 1.2rem;
  text-align: center;
  padding: 2.5rem;
  color: var(--color-grey-light-4);
}
