////////////////////////
// LOGO
.logo {
  height: 3.25rem;
  margin-left: 1rem;
}


////////////////////////
// SEARCH BOX
.search {
  display: flex;
  align-items: center;
  flex: 0 0 40%;

  &__input {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-1);
    border: none;
    padding: .7rem 2rem;
    border-radius: 2rem;
    width: 90%;
    transition: all .3s;
    margin-right: -3rem;

    &:focus {
      outline: none;
      width: 100%;
      background-color: var(--color-grey-light-2);      
    }

    &::-webkit-input-placeholder {
      font-weight: 100;
      color: var(--color-grey-light-4);
    }
  }

  &__button{
    border: none;
    background-color: transparent;

    &:focus {
      outline: none;
    }

    &:active {
      transform: translateY(2px);
    }
  }

  &__icon {
    height: 2rem;
    width: 2rem;
  }
}


////////////////////////
// USER NAVIGATION
.user-nav {
  align-self: stretch;
  
  display: flex;
  align-items: center;  

  & > * {
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;

    display: flex;
    align-items: center;    
  }

  & > *:hover {
    background-color: var(--color-grey-light-2);
  }

  &__icon-box {
    position: relative;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: var(--color-grey-dark-2);
    
  }

  &__notification {
    font-size: .8rem;
    height: 1.7rem;
    width: 1.7rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: white;
    position: absolute;
    top: 1.5rem;
    right: 1rem;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__user-photo {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 1rem;
  }
}

// ---SUPER NOTES SECTION---
// LOGO
//    height: setting height auto sets width and vice versa
//    margin-right: breathing room

// SEARCH
//    display: set to flex to align the button in the center along the cross axis
//    flex: 0 0 40%. So no grow, not able to shrink, takes 40% of available space
// SEARCH__INPUT
//    font-family: font family is not inherited on inputs, so it must be set explicitly
//    font-size: font size is not inherited on inputs, so it must be set explicitly
//    color: color is not inherited on inputs, so it must be set explicitly
//    background-color: set to desired color for input
//    border: set to none to remove normal input box border
//    padding: set to give the inside of the input some breathing room
//    border-radius: set to round the edges a bit to make the input look nicer
//    width: set to 90% to take up 9/10 of what it can, so it can grow later when focused
//    transition: set to .3s to allow a smooth transition when focused
//    margin-right: set to -3 to push the input over so the button ends up on top
// SEARCH__INPUT:FOCUS
//    outline: set to none to remove default blue border when focused
//    width: set to 100% so box grows when focused
//    background-color: set to darker coler for enhanced ux
// SEARCH__BUTTON
//    border: set to none to remove border
//    background-color: set to transparent so only the icon shows
// SEARCH__BUTTON:FOCUS
//    outline: set to none to remove default blue border when clicked
// SEARCH__BUTTON:ACTIVE
//    transform: set to translate 2px on the y axis to make it look like button is being pushed to user
// SEARCH__ICON
//    height: set to 2rem or 20px
//    width: set to 2rem or 20px

// USER-NAV
//    align-self: sets the user nav element to stretch inside its own parent flexbox
//    display: set to flex to position children
//    align-items:
// USER-NAV > * (selects all DIRECT children of USER-NAV so icon-box and user)
//    padding: breathing space
//    cursor: hand pointer
//    height: makes them take up the entire space they can
//    display: makes the children inside of these flex children
//    align-items: set to center so they center on the cross axis
// USER-NAV > *:hover (selects all DIRECT children of USER-NAV when hovered)
//    background-color: slightly darker when hovered
// USER-NAV__ICON-BOX
//    position: set to relative to allow notification bubble to be positioned absolutely
// USER-NAV__ICON
//  height: set
//  width: set
//  fill: paints the interior of the given icon
// USER-NAV__NOTIFICATION
//    font-size: set
//    height: set
//    width: set
//    border-radius: set to give make bubbles round
//    backgound-color: set to primary
//    color: text color white
//    position: set to absolute so they can be moved exactly into position
//    top: 1.5rem down from the top
//    right: 1rem from the right side
//    display: set to flex to align the text inside each bubble
//    justify-content: centers numbers on main axis
//    align-items: centers numbers on cross axis
// USER-NAV__USER-PHOTO
//    height: width is auto set when you set height
//    border-radius: set to make image perfectly round
//    margin-right: gives space between user photo and text
// USER-NAV__USER-NAME


////////////////////////
// HEADER END
////////////////////////







////////////////////////
// SIDEBAR BEGIN
////////////////////////


////////////////////////
// SIDEBAR
.side-nav {
  padding-left: 1rem;
  font-size: 1.2rem;
  margin-top: 2.5rem;

  &__item {
    list-style: none;
    margin-bottom: 1rem;   
  }

  &__link, {
    display: flex;
    align-items: center;

    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--color-grey-light-1);
      background-image: linear-gradient(120deg, transparent 0%, transparent 50%, var(--color-primary));
      background-size: 200%;
      transition: all .4s;
    }  

    &:hover,
    &:active {
      background-position: 100%;
    }
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: currentColor;
    padding-right: 1rem;
  }  
}

////////////////////////
// LEGAL TEXT
.legal {
  font-size: 1.2rem;
  text-align: center;
  padding-bottom: 2.5rem;
  color: var(--color-grey-light-4);
}


// SIDE-NAV
//    padding-left: gets everything off the left edge of the sidebar
//    font-size: self explanatory
//    margin-top: pushes items down from the top of the sidebar a bit
// SIDE-NAV__ITEM
//    list-style: turn off the default bullet points of a li inside a ul
//    margin-bottom: gives a little space below each element to let them breathe
// SIDE-NAV__LINK
//    display: set to flex so the item and the span text inside the link can be positioned
//    align-items: set to center to center both along the cross axis
// SIDE-NAV__LINK:link :visisted
//    text-decoration: remove the link underline
//    text-transform: make all text uppercase
//    color: set color of text
//    background-image: set to a 120deg linear gradient that goes from 0 to 50% as transparent, then the rest is primary color
//    background-size: set to 200% so it is pushed off the screen out of view
//    transition: all .4s for transitions
// SIDE-NAV__LINK:visited :active
//    background-position: over .4s, the background will come into view ending up at 100%
// SIDE-NAV__ICON
//    height: set icon height
//    width: set icon height
//    fill: paints the icon the current color ie the color of the parent which is link
//    padding-right: gives some space between the icon and the text

// LEGAL
//    font-size: yes
//    text-align: yep
//    padding-bottom: breathing room from bottom
//    color: set text color


////////////////////////
// SIDEBAR END
////////////////////////






////////////////////////
// HOTEL VIEW BEGIN
////////////////////////

////////////////////////
// PHOTO GALLERY
.gallery {
  display: flex;

  &__photo {
    width: 100%;
    display: block; // this removes little blocks of space on the sides and bottoms of images
  }
}


////////////////////////
// HOTEL OVERVIEW
.overview {
  border-bottom: 2px solid var(--color-grey-light-2);
  
  display: flex;  
  align-items: center;

  &__heading {
    font-size: 2.25rem;
    font-weight: 300;
    letter-spacing: 1px;
    padding: 1.5rem 3rem;
  }

  &__stars {
    margin-right: auto; // places the big gap between stars and location button. nice trick

    display: flex;
  }

  &__icon-star,
  &__icon-location {
    height: 1.75rem;
    width: 1.75rem;
    fill: var(--color-primary);
  }

  &__location {
    margin-right: 1rem;
    font-size: 1.2rem;

    display: flex;
    align-items: center;
  }

  &__icon-location {
    margin-right: .5rem;
  }
  
  &__rating {
    background-color: var(--color-primary);
    color: var(--color-grey-light-2);
    padding: 1.5rem;
    text-align: center;
  }
  &__rating-average {
    font-size: 2.25rem;
    font-weight: 300;
  }
  &__rating-count {
    font-size: 1rem;
  }

}

////////////////////////
// LOCATION BUTTON
.btn-inline {
  border: none;
  background: transparent;
  color: var(--color-primary);
  font-size: inherit;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  display: inline-block;
  cursor: pointer;
  transition: all .2s;

  & span {
    margin-left: 3px;
    transition: margin-left .2s;
  }

  &:hover {
    color: var(--color-grey-dark-1);

    span {
      margin-left: 8px;
    }
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}

////////////////////////
// CUSTOM ANIMATION
@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}


////////////////////////
// PARAGRAPH
.paragraph:not(:last-of-type) {
  margin-bottom: 2rem;
}

////////////////////////
// LIST
.list {
  margin: 3rem 0;
  list-style: none;
  padding: 3rem 0;
  border-top: 2px solid var(--color-grey-light-1);

  display: flex;
  flex-wrap: wrap;
  

  &__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
  }

  &__item::before {
    content: "";
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: .7rem;

    //Newer browsers - masks
    background-color: var(--color-primary);
    -webkit-mask-image: url(../../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-image: url(../../img/chevron-thin-right.svg);
    mask-size: cover;

    // Older browsers
    // background-image: url(../../img/chevron-thin-right.svg);
    // background-size: cover;
  }
}


////////////////////////
// RECOMMEND
.recommend {
  font-size: 1.3rem;
  color: var(--color-grey-dark-3);

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid white;
    box-sizing: content-box;

    &:not(:last-child) {
      margin-right: -1.5rem;
    }
  }
}


////////////////////////
// REVIEWS
.review {
  background-color: white;
  box-shadow: var(--shadow-light);
  padding: 3rem;
  margin-bottom: 3.5rem;
  position: relative;
  overflow: hidden;
  

  &__text {
    margin-bottom: 2rem;
    z-index: 2;
    position: relative;
  }

  &__user {
    display: flex;
    align-items: center;
  }

  &__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1.5rem;
  }

  &__user-box {
    margin-right: auto;
  }

  &__user-name {
    font-weight: 600;
  }

  &__user-date {
    font-size: 1rem;
  }
  
  &__rating {
    color: var(--color-primary);
    font-size: 2.8rem;
  }

  &::before {
    content: "\201C";
    position: absolute;
    top: -2.75rem;
    left: -1rem;
    font-size: 20rem;
    font-family: sans-serif;
    line-height: 1;
    color: var(--color-grey-light-2);
    z-index: 1;
  }
}

////////////////////////
// CALL TO ACTION
.cta {
  padding: 3.5rem 0;
  text-align: center;
  
  
  &__book-now {
    font-size: 1.8rem;
    font-weight: 300;
    text-transform: uppercase;
    margin-bottom: 2.5rem;
  }
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  text-transform: uppercase;
  border-radius: 100px;
  border: none;
  background-image: linear-gradient(to right, var(--color-primary-light), var(--color-primary-dark));
  color: white;
  position: relative;
  overflow: hidden;
  cursor: pointer;

  & > * {
    display: inline-block;
    height: 100%;
    width: 100%;
    transition: all .3s;
  }

  &__visible {
    padding: 2rem 7.5rem;
  }

  &__invisible {
    position: absolute;
    padding: 2rem 0rem;
    left: 0;
    top: -100%;
  }

  &:hover {
    background-image: linear-gradient(to left, var(--color-primary-light), var(--color-primary-dark));
  }

  &:hover &__visible {
    transform: translateY(100%);
  }

  &:hover &__invisible {
    top: 0;
  }

  &:focus {
    outline: none;
    animation: pulsate 1s infinite;
  }
}
